<table id="<?=$this->getId()?>" class="table datagrid">
    <thead>
    <tr>
        <th>
            <div class="datagrid-header-left">

            </div>
            <div class="datagrid-header-right">
                <div class="input-append search">
                    <input type="text" class="input-medium" placeholder="Zoeken"><button class="btn"><i class="icon-search"></i></button>
                </div>
            </div>
        </th>
    </tr>
    </thead>

    <tfoot>
    <tr>
        <th>
            <div class="datagrid-footer-left" style="display:none;">
                <div class="grid-controls">
                    <span><span class="grid-start"></span> - <span class="grid-end"></span> van <span class="grid-count"></span></span>
                    <select class="grid-pagesize"><option>10</option><option>20</option><option>50</option><option>100</option></select>
                    <span>Per Pagina</span>
                </div>
            </div>
            <div class="datagrid-footer-right" style="display:none;">
                <div class="grid-pager">
                    <button class="btn grid-prevpage"><i class="icon-chevron-left"></i></button>
                    <span>Pagina</span>
                    <div class="input-append dropdown combobox">
                        <input style="width: 56px;" type="text">
                    </div>
                    <span>van <span class="grid-pages"></span></span>
                    <button class="btn grid-nextpage"><i class="icon-chevron-right"></i></button>
                </div>
            </div>
        </th>
    </tr>
    </tfoot>
</table>

<script>
    $(function() {
        var dataSource = new DynamicDataSource({
            url: '<?=$this->getUrl()?>',
            columns: [
                <?php
                foreach ($this->getDatasource()->getColumns() as $column) {
                ?>
                {
                    property: '<?=$column->getName()?>'
                    <?php if (!$column->isHideName()) { ?>
                    , label: '<?=$column->getName()?>'
                    <?php } else { ?>
                    , label: ''
                    <?php } ?>
                    , sortable: <?=$column->option('sortable') ? 'true' : 'false'?>
                },
                <?php
                }
                ?>
            ],
            id: '<?=$this->getId()?>'
        });

        $('#<?=$this->getId()?>').datagrid({
            dataSource: dataSource
        });
    });
</script>
