.datagrid thead {
    background-color: #f9f9f9;
}

.datagrid thead .datagrid-header-title {
    float: left;
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
}

.datagrid thead .datagrid-header-left {
    float: left;
}

.datagrid thead .datagrid-header-right {
    float: right;
}

.datagrid thead .datagrid-header-right .search,
.datagrid thead .datagrid-header-left .search,
.datagrid thead .datagrid-header-right .filter,
.datagrid thead .datagrid-header-left .filter {
    margin-bottom: 0;
    margin-left: 8px;
}

.datagrid thead .datagrid-header-right .search .dropdown-menu,
.datagrid thead .datagrid-header-left .search .dropdown-menu,
.datagrid thead .datagrid-header-right .filter .dropdown-menu,
.datagrid thead .datagrid-header-left .filter .dropdown-menu {
    top: auto;
    left: auto;
}

.datagrid thead .sorted {
    padding-right: 30px;
    color: #333333;
    text-shadow: 'none';
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: -o-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: -moz-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: linear-gradient(to bottom, #f9f9f9, #e5e5e5);
    background-repeat: repeat-x;
    border-color: #e5e5e5 #e5e5e5 #bebebe;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}

.datagrid thead .sorted i {
    float: right;
    margin-top: 2px;
    margin-right: -22px;
}

.datagrid thead .sortable {
    cursor: pointer;
}

.datagrid thead .sortable:hover {
    color: #333333;
    text-shadow: 'none';
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: -o-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: linear-gradient(to bottom, #f9f9f9, #e5e5e5);
    background-repeat: repeat-x;
    border-color: #e5e5e5 #e5e5e5 #bebebe;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}

.datagrid tfoot {
    background-color: #f9f9f9;
}

.datagrid tfoot .datagrid-footer-left {
    float: left;
}

.datagrid tfoot .datagrid-footer-left .grid-controls {
    margin-top: 7px;
}

.datagrid tfoot .datagrid-footer-left .grid-controls select {
    width: 60px;
    margin: 0 5px 1px;
}

.datagrid tfoot .datagrid-footer-left .grid-controls .grid-pagesize {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
}

.datagrid tfoot .datagrid-footer-left .grid-controls .grid-pagesize .dropdown-menu {
    top: auto;
    left: auto;
}

.datagrid tfoot .datagrid-footer-left .grid-controls span {
    font-weight: normal;
}

.datagrid tfoot .datagrid-footer-right {
    float: right;
}

.datagrid tfoot .datagrid-footer-right .grid-pager > span {
    position: relative;
    top: 8px;
    font-weight: normal;
}

.datagrid tfoot .datagrid-footer-right .grid-pager .dropdown-menu {
    min-width: 50px;
}

.datagrid tfoot .datagrid-footer-right .grid-pager .combobox {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-bottom: 4px;
    vertical-align: baseline;
}

.datagrid tfoot .datagrid-footer-right .grid-pager > button {
    position: relative;
    top: 7px;
}

.datagrid-stretch-header {
    margin-bottom: 0;
    border-bottom: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
}

.datagrid-stretch-header thead:last-child tr:last-child > th:first-child,
.datagrid-stretch-header thead:last-child tr:last-child > th:last-child {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
}

.datagrid-stretch-wrapper {
    overflow: auto;
    border: 1px solid #dddddd;
}

.datagrid-stretch-wrapper .datagrid {
    margin-bottom: 0;
    border: none;
    border-collapse: collapse;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.datagrid-stretch-wrapper .datagrid td,
.datagrid-stretch-wrapper .datagrid th {
    border-bottom: 1px solid #dddddd;
}

.datagrid-stretch-wrapper .datagrid td:first-child,
.datagrid-stretch-wrapper .datagrid th:first-child {
    border-left: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.datagrid-stretch-footer {
    border-top: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0;
}

.datagrid-stretch-footer th {
    border-top: 0;
}